
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Montserrat:wght@200;300;400;500;600;700&display=swap');

:root{
  /* text colors */
  --text-gray : #808291;
  --text-white: #f8f9fa;
  --text-light: #f6f6f6;
  --text-dark : #1A3260;
  --text-dark2 : #1A3760D4;
  --text-red : #ff4d6d;
  --box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
  --bg-blue: rgb(249, 243, 255);
  --bg-red: rgb(254, 247, 252);
  --bg-yellow:rgb(255, 255, 246);
  --bg-purple: rgb(246, 255, 255);

  /* font familiy */
  --font-montserrat : "Montserrat", 'sans-serif';

}

* > * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}


/* ------------------- /Variables ------------------------ */

/* ------------------- Global Classes ------------------------ */

.text-dark{
  color: var(--text-dark);
}

.text-white{
  color: var(--text-white);
}

.text-light{
  color: var(--text-light);
}

.text-gray{
  color: var(--text-gray);
}

.text-red{
  color: var(--text-red);
}

.bg-gradient{
  background: var(--bg-gradient);
}

.bg-gradient-indigo{
  background: var(--bg-gradient-indigo);
}

.bg-gradient-peach{
  background: var(--bg-gradient-peach);
}

.bg-gradient-red{
  background: var(--bg-red);
}

.bg-gradient-blue{
  background: var(--bg-blue);
}

.bg-gradient-yellow{
  background: var(--bg-yellow);
}

.bg-gradient-purple{
  background: var(--bg-purple);
}

.font-poppins{
  font-family: var(--font-poppins);
}

.text-center{
  text-align: center;
}

.text-sm{
  font-size: 1em;
  line-height: 1.5em;
}

.text-md{
  font-size: 1.5em;
}

.text-lg{
  font-size: 2.2em;
  line-height: 3rem;
}

.text-xl{
  font-size: 3em;
}

.text-2xl{
  font-size: 5em;
}

.font-bold{
  font-weight: bold;
}

.flex{
  display: flex;
}

.flex-row{
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-initial{
  flex: 0 1 auto;
}

.flex-grow{
  flex-grow: 1;
}

.justify-center{
  justify-content: center;
}

.text-uppercase{
  text-transform: uppercase;
}

.container{
  width: 100%;
}

.container-fluid{
  width: 98%;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.py-2{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-10{
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.px-5{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-10{
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.link{
  color: #797979;
  font-weight: 600;
}
.link:hover{
  color: #5F4AA4;
}
.btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-primary{
  padding: .8rem 2rem;
  border-radius: 50px;
  font-family: var(--font-poppins);
  font-weight: bold;
}

.btn-shodow{
  box-shadow: var(--box-shadow);
}

.btn-primary:hover{
  background: var(--bg-gradient-indigo);
}

.bg-cover{
  background: var(--bg-cover);
  object-fit: fill;
}

.d-iniine{
  display: inline-block;
}

.d-block{
  display: block;
}

.grid{
  display: grid;
}

.cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.w-100{
  width: 100%;
}

.w-50{
  width: 50%;
}


body{
  background-color: #fff;
}
/* ------------------- Media Query ------------------------ */

@media (max-width <= 340px) {
  .container{
      max-width: 640px;
  }
  .sm-text-xl{
      font-size: 1em;
  }
 
}

@media (min-width: 150px) and (max-width:  400px) {
  #nav{
    display: flex!important;
    justify-content: center;
    align-items: flex-start !important;
    
  }
  #nav .logo{
    width: 4rem !important;
  }

  #nav .toggle-btn > button {

    padding: 3rem 2rem !important;
  }
  .oval h2{
    font-size: 1.5rem !important;
    margin-top: 3rem !important;
  }

  .oval {
    height: 33vh !important;
}

  .get-started{
    padding: 0rem 0.5rem !important;
    font-size: 1rem !important;
    margin-top: -0.1rem !important;
    border: 1px solid #5F4AA4 !important;
  }
  .oval p{
    font-size: 0.8rem !important;
    line-height: 0.9rem !important;
  }
  .oval span{
    font-size: 1rem !important;
    line-height: 0.5rem !important;
  }

  .hero .hero-img {
    margin-top: 3.4rem;
    right: 1rem !important;
  }




  .theme .para1{
    color: #5552B9;
    font-size: 1rem;
    position: relative;
    top:1rem;
    padding: 0rem 3rem;
  }
  
  .theme h1{
    color: #5f4aa4;
    font-size: 3.5rem;
    text-align: center;
    padding: 0rem 3rem;

  }
  
  
  .theme .para2{
    color: #5552B9;
    font-size: 1rem;
    position: relative;
    bottom: 0.8rem;
    left: 3rem;
    text-align: right;
  }
  
  .theme .para3{
    font-size: 3rem;
    color: #5552B9;
    font-weight: 500;
    text-align: center;
  }
  
  .theme .para-container{
    margin-block: 2rem;
  }










.feature-container{
  flex-direction: column;
  padding: 1rem;
}
.fearure{
width: 100% !important;
margin: 1rem 0rem !important; 
}
.fearure h3 {
  font-size: 1.3rem !important;
}
.fearure p {
  font-size: 12px !important;
}

}



@media (min-width: 400px) and (max-width: 640px) {
  
  .container{
    max-width: 640px;
}
.sm-text-xl{
    font-size: 2em;
}

.oval{
  height: 40vh !important;
}


.oval h2{
  font-size: 2rem !important;
}
.get-started{
  padding: 0.3rem 0.5rem !important;
  font-size: 1rem !important;
  margin-top: 0.3rem !important;
}
.oval p{
  font-size: 1rem !important;
  line-height: 1rem !important;
}
.oval span{
  font-size: 1rem !important;
  line-height: 0.5rem !important;
}
.hero .hero-img {
  margin-top: 2.5rem;
  right: 1.5rem !important;
}



.theme .para1{
  font-size: 1.2rem !important;
  color: #5F4AA4;
}
.theme h1{
  font-size: 5rem !important;
  text-align: center;
  color: #5F4AA4;
  padding: 0 1rem !important;
}


.theme .para2{
  font-size: 1.2rem !important;
  color: #5F4AA4;
  text-align: right;
}

.theme .para3{
  margin-top: 2rem !important;
  font-weight: 500 !important;
  font-size: 1.2rem !important;
  color: #5F4AA4;
  text-align: center;
  padding: 1rem !important;
}

.feature-container{
  flex-direction: column;
  padding: 1rem;
}
.fearure{
width: 100% !important;
margin: 1rem 0rem !important; 
}
.fearure h3 {
  font-size: 1.5rem !important;
}
.fearure p {
  font-size: 13px !important;
}


}


/* for large screen md (768px) */
@media (min-width: 640px) and (max-width: 768px) {
  .container{
      max-width: 768px;
  }
  .md-text-left{
      text-align: left;
  }
  .oval{
    height: 56vh !important;
  }
  .oval h2{
    font-size: 2.5rem !important;
  }
  .get-started{
    padding: 0.3rem 0.5rem !important;
    font-size: 1rem !important;
    margin-top: 0.3rem !important;
  }
  .oval p{
    font-size: 1.4rem !important;
    line-height: 1.3rem !important;
  }
  .oval span{
    font-size: 2rem !important;
    line-height: 0.5rem !important;
  }


  

.theme .para1{
  font-size: 1.5rem !important;
  color: #5F4AA4;
}
.theme h1{
  font-size: 6rem !important;
  text-align: center;
  color: #5F4AA4;
  padding: 0 1rem !important;
}


.theme .para2{
  font-size: 1.5rem !important;
  color: #5F4AA4;
  text-align: right;
}

.theme .para3{
  margin-top: 2rem !important;
  font-weight: 500 !important;
  font-size: 1.5rem !important;
  color: #5F4AA4;
  text-align: center;
  padding: 1rem !important;
}




.feature-container{
  flex-direction: column;
  padding: 1rem;
}
.fearure{
width: 100% !important;
margin: 1rem 0rem !important; 
}
.fearure h3 {
  font-size: 1.8rem !important;
}
.fearure p {
  font-size: 15px !important;
}


}


@media (min-width: 768px) and (max-width: 1024px) {

  .oval{
    height: 66vh !important;
  }
  .oval h2{
    font-size: 2.5rem !important;
  }
  .get-started{
    padding: 0.8rem 1.5rem !important;
    font-size: 1rem !important;
    margin-top: 0.3rem !important;
  }
  .oval p{
    font-size: 1.4rem !important;
    line-height: 1.3rem !important;
  }
  .oval span{
    font-size: 2rem !important;
    }



    .theme .para1{
      font-size: 1.8rem !important;
      color: #5F4AA4;
    }
    .theme h1{
      font-size: 7rem !important;
      text-align: center;
      color: #5F4AA4;
      padding: 0 1rem !important;
    }
    
    
    .theme .para2{
      font-size: 1.8rem !important;
      color: #5F4AA4;
      text-align: right;
    }
    
    .theme .para3{
      margin-top: 2rem !important;
      font-weight: 500;
      font-size: 1.8rem !important;
      color: #5F4AA4;
      text-align: center;
      padding: 1rem !important;
    }


    .feature-container{
      flex-direction: column;
      padding: 1rem;
    }
    .fearure{
    width: 100% !important;
    margin: 1rem 0rem !important; 
    }
    .fearure h3 {
      font-size: 2rem !important;
    }
    .fearure p {
      font-size: 18px !important;
    }
    

    
}

/* for large screen lg (1024px) */
@media  (min-width: 1024px) {
  .container{
      max-width: 1024px;
  }

  #nav .toggle-btn > button{
      display: none;
  }

  #nav{
      flex-direction: row !important;
  }

  .collapse{
      max-height: initial !important;
  }

  .collapse ul{
      flex-direction: row !important;
  }

  .active{
      max-height: 100% !important;
  }
  .lg-cols-3{
      grid-template-columns: repeat(3,minmax(0,1fr));
  }
  .lg-cols-2{
      grid-template-columns: repeat(2,minmax(0,1fr));
  }
  .oval h2{
    font-size: 2.5rem !important;
  }

  .oval p{
    font-size: 1.8rem !important;
  }




   
.theme .para1{
  color: #5552B9;
  font-size: 2rem;
  position: relative;
  top: 4rem;
  padding: 0rem 4rem;
}
.theme h1{
  color: #5f4aa4;
  font-size: 13rem;
  padding: 0 1rem;
  text-align: center;
  letter-spacing: 1rem;
}


.theme .para2{
  color: #5552B9;
  font-size: 2rem;
  position: relative;
  bottom: 2rem;
  padding: 0px 4rem;
  /* right: 0; */
  text-align: right;
}

.theme .para3{
  font-size: 3rem;
  color: #5552B9;
  font-weight: 500;
  text-align: center;
}

.theme .para-container{
  margin-block: 2rem;
}

}

/* for large screen xl (1280px) */
@media (min-width: 1280px) {
  .container{
      max-width: 1280px;
  }

  #nav{
      background: transparent !important;
  }

  #nav .flex-initial ul button{
      display: inline-block !important;
  }


  

}






/* ------------------- Navigation Style ------------------------ */
#nav{
 position: fixed;
  width: 100%;
  height: 116px;
  padding: 4.5rem 3rem;
  background-color: #fff !important;
  flex-direction: column;
  display: flex;
  align-items: center;
}
#nav .logo{
  width: 7rem;
}
#nav .collapse{
  max-height: 0px;
  overflow-y: hidden;
  transition: all 0.9s ease;
}

#nav .collapse ul{
  flex-direction: column;
  text-align: center;
  padding: 0 3rem;
}

#nav .collapse ul > li{
 padding: 0 1.5rem;
 line-height: 3rem;
 font-size: 1.6em !important;
 font-family: var(--font-montserrat);
}

#nav .toggle-btn > button{
  font-size: 2em;
  position: absolute;
  right: 0; top: 0;
  padding: 1rem;
  color: var(--text-dark2);
}

#nav .flex-initial ul button{
  display: none;
}

.active{
  max-height: 50vh !important;
}


/* ------------------- /Navigation Style ------------------------ */




.oval{
  width: 80%;
  height: 100vh;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 4px 159px 0px rgba(0,0,0,0.25);
  margin-top: 15rem;


  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.oval h2{
 font-size: 5rem;
  color: #5F4AA4;
  font-family: var(--font-montserrat);
  margin-block: 1rem;
}
.oval p{
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  width: 60%;
   color: #5F4AA4;
   line-height: 2rem;
   word-spacing: 10px;
   font-family: var(--font-montserrat);
 }
 .oval span{
  font-family: 'Hurricane', cursive;
  transform: rotate(338deg);
  font-size: 3rem;
  padding: 10px 0px;
  font-weight: 500;
  text-align: center;
   color: #5F4AA4;
   line-height: 2rem;
   word-spacing: 10px;
 }
 .get-started{
    margin-block: 1rem;
    padding: 1rem 3rem;
    border-radius: 1.2rem;
    border: 3px solid #5F4AA4;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 1.6rem;
    transition: 0.5s ease-out;
    color: #5F4AA4;
    background: white;
 }
 .get-started:hover{
  background-color: #5F4AA4;
  color: white;
 }


 .hero{
  /* margin-block: 5rem; */
  position: relative;
  overflow: hidden;
  bottom: 4rem;
  display: flex;
  align-items: center;
 }
 .hero .hero-img{
  width: 120%;
  position: relative;
  right: 6rem;
  
 }


 .feature-container{
  width: 100%;
 }
 .fearure{
  background-color: #918FED;
  width: 90%;
  margin: 4rem 2rem;
  padding: 1rem 2rem;
  color: white;
  font-family: var(--font-montserrat);
  border-radius: 10px;
  transition: 0.5s ease-out;
  height: 568px;
 }

 .fearure:hover{
  background-color: #5552B9;
 }

.fearure img{
  padding: 3rem;
}

 .fearure h3{
  font-size: 3rem;
    
 }

 .fearure p{
  margin-block: 1rem;
  font-size: 1.8rem;
}

.footer{
  background-color: white;
  margin-top: 2rem;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p{
  color: #5F4AA4;
}